# Pandas Workshop at DataHarvest 2016

This is how you import pandas. It's customary to import it as "pd".

In [11]:
import pandas as pd

This is how you can load a CSV file. There are also other ways to load in data, such as `read_excel` or `read_json`

In [12]:
df = pd.read_csv('gb_201415.csv')

`df` stands for DataFrame and is basically a table with rows and columns.

`df.head()` shows the first 5 rows, you can also show more, e.g. `df.head(20)`

In [13]:
df.head()

,year,recipient_id,recipient_name,recipient_postcode,recipient_location,agency,scheme,amount,country,currency
0,2015,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,"7,636,181.83",GB,GBP
1,2015,GB-WR5-Natural England,Natural England,WR5,WORCESTER,RPA,Technical Assistance,"7,373,572.0",GB,GBP
2,2014,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,"6,128,222.74",GB,GBP
3,2015,GB-CB7-G'S GROWERS LTD,G'S GROWERS LTD,CB7,ELY,RPA,Aid in fruit and vegetables sector,"5,807,429.64",GB,GBP
4,2014,GB-PL30-National Trust,National Trust,PL30,Bodmin,RPA,Agri-environment payments,"4,646,028.86",GB,GBP

Let's look at the data types of the columns.

In [14]:
df.dtypes

year                   int64
recipient_id          object
recipient_name        object
recipient_postcode    object
recipient_location    object
agency                object
scheme                object
amount                object
country               object
currency              object
dtype: object

Looks like the amount is not detected correctly due to the thousand separators. Let's clean it!

## Cleaning

In [15]:
df['amount_clean'] = df['amount'].str.replace(',', '')
df.head()

,year,recipient_id,recipient_name,recipient_postcode,recipient_location,agency,scheme,amount,country,currency,amount_clean
0,2015,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,"7,636,181.83",GB,GBP,7636181.83
1,2015,GB-WR5-Natural England,Natural England,WR5,WORCESTER,RPA,Technical Assistance,"7,373,572.0",GB,GBP,7373572.0
2,2014,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,"6,128,222.74",GB,GBP,6128222.74
3,2015,GB-CB7-G'S GROWERS LTD,G'S GROWERS LTD,CB7,ELY,RPA,Aid in fruit and vegetables sector,"5,807,429.64",GB,GBP,5807429.64
4,2014,GB-PL30-National Trust,National Trust,PL30,Bodmin,RPA,Agri-environment payments,"4,646,028.86",GB,GBP,4646028.86

.. and convert it to a number

In [16]:
df['amount_clean'] = pd.to_numeric(df['amount_clean'])
df.dtypes

year                    int64
recipient_id           object
recipient_name         object
recipient_postcode     object
recipient_location     object
agency                 object
scheme                 object
amount                 object
country                object
currency               object
amount_clean          float64
dtype: object

we can now lose the original column. If you want to get rid of multiple columns, you can use a list, such as `['amount', 'somethingelse']`. The `1` stands for `axis`. `axis 1` is the columns (header), `axis 0` is the rows (index)

In [17]:
df = df.drop('amount', 1)
df.head()

,year,recipient_id,recipient_name,recipient_postcode,recipient_location,agency,scheme,country,currency,amount_clean
0,2015,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,GB,GBP,7636181.83
1,2015,GB-WR5-Natural England,Natural England,WR5,WORCESTER,RPA,Technical Assistance,GB,GBP,7373572.00
2,2014,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,GB,GBP,6128222.74
3,2015,GB-CB7-G'S GROWERS LTD,G'S GROWERS LTD,CB7,ELY,RPA,Aid in fruit and vegetables sector,GB,GBP,5807429.64
4,2014,GB-PL30-National Trust,National Trust,PL30,Bodmin,RPA,Agri-environment payments,GB,GBP,4646028.86

we can also rename columns. Let's name the clean amount just an amount now that we dropped the dirty one

In [18]:
df = df.rename(columns={'amount_clean': 'amount'})
df.head()

,year,recipient_id,recipient_name,recipient_postcode,recipient_location,agency,scheme,country,currency,amount
0,2015,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,GB,GBP,7636181.83
1,2015,GB-WR5-Natural England,Natural England,WR5,WORCESTER,RPA,Technical Assistance,GB,GBP,7373572.00
2,2014,GB-SY23-WELSH ASSEMBLY GOVERNMENT,WELSH ASSEMBLY GOVERNMENT,SY23,ABERYSTWYTH,WG,Technical Assistance,GB,GBP,6128222.74
3,2015,GB-CB7-G'S GROWERS LTD,G'S GROWERS LTD,CB7,ELY,RPA,Aid in fruit and vegetables sector,GB,GBP,5807429.64
4,2014,GB-PL30-National Trust,National Trust,PL30,Bodmin,RPA,Agri-environment payments,GB,GBP,4646028.86

## Analysis

In [23]:
df.describe(include='all')

,year,recipient_id,recipient_name,recipient_postcode,recipient_location,agency,scheme,country,currency,amount
count,1000.000000,1000,1000,1000,1000,1000,1000,1000,1000,1.000000e+03
unique,NaN,649,634,433,433,5,31,1,1,NaN
top,NaN,GB-LL15-CADWYN CLWYD CYFYNGEDIG LTD,National Trust,SY23,LINCOLN,RPA,Single area payment scheme,GB,GBP,NaN
freq,NaN,5,8,12,18,671,578,1000,1000,NaN
mean,2014.422000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.087952e+05
std,0.494126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.140205e+05
min,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.381948e+05
25%,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.717366e+05
50%,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.337836e+05
75%,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.867624e+05
max,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.636182e+06

Let's say we'd like to know how much money has been spent on ???. We can use `sum()`

In [19]:
df['amount'].sum()

508795166.64000005

Or how much funds have been distributed per scheme

In [20]:
df['scheme'].value_counts()

Single area payment scheme                                                              578
Implementing local development strategies. Quality of life/diversification               65
Agri-environment payments                                                                61
Adding value to agricultural and forestry products                                       49
Aid in fruit and vegetables sector                                                       36
Investment in forest area development and improvement of the viability of forests        28
Investments in physical assets                                                           21
Non-productive investments                                                               18
Vocational training and information actions                                              16
First afforestation of agricultural land                                                 16
Agri-environment-climate                                                                 15
Running the local action group, acquiring skills and animating the territory             13
Technical Assistance                                                                     12
Basic services for the economy and rural population                                      11
Encouragement of tourism activities                                                       9
Modernisation of agricultural holdings                                                    8
Development of new products, processes and technologies                                   8
Business creation and development                                                         7
Promotion measures                                                                        6
Basic services and village renewal in rural areas                                         4
Implementing local development strategies. Competitiveness                                3
First afforestation of non-agricultural land                                              3
Infrastructure related to the development and adaptation of agriculture and forestry      3
Diversification into non-agricultural activities                                          2
School milk scheme                                                                        2
Skills acquisition, animation and implementation of local development strategies          1
Conservation and upgrading of the rural heritage                                          1
Village renewal and development                                                           1
Knowledge transfer and information actions                                                1
Technical assist                                                                          1
Cooperation                                                                               1
Name: scheme, dtype: int64